@mixin font-style($font-size, $line-height, $font-weight, $color) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin container {
  width: 260px;
  margin: 0 auto;

    @media ($tablet-widths) {
    width: 668px;
    }

    @media ($desktop-widths) {
    width: 1050px;
    }
}

@mixin clearfix {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}
