@import "global/normalize.scss";
@import "global/global-fonts.scss";
@import "global/scaffolding.scss";

@import "mixins.scss";
@import "variables.scss";

@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/slogan.scss";
@import "blocks/category.scss";
@import "blocks/week-item.scss";
@import "blocks/button.scss";
@import "blocks/about-us.scss";
@import "blocks/feedback.scss";
@import "blocks/contacts.scss";
@import "blocks/menu.scss";
@import "blocks/logo.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/inner-main.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-item.scss";
@import "blocks/video.scss";
@import "blocks/form-main.scss";
@import "blocks/filter.scss";
@import "blocks/popup.scss";
