@import 'variables.scss';
@import 'mixins.scss';


body {
  @include font-style(16px, 24px, 400, #000000);
  background: $color-bg;
  margin: 0 auto;
  min-width: 320px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  @include container;
  @include clearfix;
}
