@import 'variables.scss';
@import 'mixins.scss';


body {
  @include font-style(16px, 24px, 400, #000000);
  background: $color-bg;
  margin: 0 auto;
  min-width: 320px;
}

h1 {
  @include font-style(25px, 30px, 700, #000000);
  text-align: center;
}

h2 {
  @include font-style(27px, 30px, 700, #000000);
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
