.about-us {
  @include conteiner;
}

.about-us__title {
    @include font-style(25px, 30px, 700, #000000);
  }

.about-us__list-item {
  padding-top: 87px;
  @include font-style(17px, 24px, 700, #000000);
}

@media ($tablet-widths) {

  .about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-us__title {
    align-self: flex-start;
    @include font-style(43px, 50px, 700, #000000);
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__list-item {
    width: 50%;
    padding-top: 60px;
    @include font-style(20px, 30px, 700, #000000);

    &:nth-child(3n+1) {
      order: 1;
    }

    &:nth-child(3n+2) {
      order: 2;
    }

    &:nth-child(3n+3) {
      order: 3;
    }

    &:nth-child(-n+3) {
      padding-right: 100px;
      box-sizing: border-box;
    }
  }
}

@media ($desktop-widths) {

  .about-us__title {
    margin-left: 174px;
    @include font-style(53px, 57px, 700, #000000);
  }

  .about-us__list {
    margin-left: 174px;
  }

  .about-us__list-item:nth-child(-n+3) {
      padding-right: 106px;
      box-sizing: border-box;
    }

  .about-us__list-item:nth-child(n+4) {
    width: 274px;
  }
}
