.catalog {
  @include container;
  display: flex;
  min-height: 1196px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  align-content: space-between;
}



@media ($tablet-widths) {

  .catalog {
    min-height: 1110px;
    margin-top: 77px;
    margin-bottom: 53px;
  }

  .catalog-item {
    width: 100%;
  }
}



@media ($desktop-widths) {

  .catalog {
    min-height: 0;
    margin-top: 132px;
    margin-bottom: 57px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
