.catalog-item {
  min-height: 374px;
}

.catalog-item__foto img {
  display: block;
}

.catalog-item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 28px 12px;
  box-sizing: border-box;
  border: $border;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog-item__info-title {
  margin-bottom: 11px;
  @include font-style(17px, 24px, 700, #000000);

  &:hover {
    color: #666666;
  }

  &:active {
    color: #b2b2b2;
  }
}

.catalog-item__info-description {
  margin-bottom: 9px;
  @include font-style(13px, 30px, 400, $text-color);
}

.catalog-item__info-order {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  @include font-style(15px, 24px, 700, #000000);
  border-top: $border;
}

.catalog-item__info-order-price {
  margin: 0;
  padding-top: 25px;
}

.catalog-item__info-order-link {
  padding-top: 25px;
  align-self: flex-end;

  svg {
    vertical-align: text-top;
    fill: #d3d2d2;

    &:hover {
      fill: #63d1bb;
    }

    &:active {
      fill: #d0f1ea;
    }
  }
}



@media ($tablet-widths) {

  .catalog-item {
    display: flex;
    min-height: 334px;
  }

  .catalog-item__foto {
    width: 333px;
  }

  .catalog-item__info {
    width: 50%;
    padding-bottom: 26px;
  }

  .catalog-item__info-title {
    font-size: 20px;
  }

  .catalog-item__info-description {
    font-size: 15px;
  }

  .catalog-item__info-order {
    font-size: 17px;
  }
}



@media ($desktop-widths) {

  .catalog {
    margin: 131px auto 41px;
  }

  .catalog-item {
    width: 316px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .catalog-item__foto {
    width: 316px;
    height: 462px;
  }

  .catalog-item__info {
    width: 316px;
    min-height: 213px;
  }

  .catalog-item__info-description {
    margin: 0;
  }

  .catalog-item__info-text {
    margin-bottom: 17px;
  }
}
