.category {
  width: 100%;
}

.category__list-item {
  width: 100%;
  padding: 30px 0 30px 30px;
  background: $color-green;
}

.category__list-item:last-child {
  background: #56c3b2;
}

.category__list-item-info {
  @include font-style(19px, 24px, 700, #ffffff);
}


@media ($tablet-widths) {

  .category {
    position: relative;
    z-index: 3;
    @include conteiner;
    margin-top: -118px;
  }

  .category__list {
    display: flex;
    min-height: 119px;

  }

  .category__list-item {
    display: flex;
    width: 50%;
  }

  .category__list-item-info {
    align-self: center;
    @include font-style(20px, 30px, 700, #ffffff);
  }
}


