.contacts {
  margin-top: 40px;
  margin-bottom: 38px;
}

.contacts__data {
  display: table;
  width: 100%;
  @include container;
  border-spacing: 0 25px;

  b {
    display: table-caption;
    @include font-style(18px, 30px, 700, #000000);
  }
}

.contacts__data-list {
  display: table-row;
}

.contacts__data-list-item {
  display: table-cell;
  @include font-style(15px, 30px, 400, $text-color);
  text-align: left;

  &:first-child {
    width: 77px;
  }
}

.contacts__email {
  border-bottom: 1px solid $color-green;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  width: 100%;
  height: 458px;
  background: #f3f1ea url("/img/map-mobile@1x.jpg") no-repeat 100% 100%;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("/img/map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.button {
  @include container;
  margin-top: 39px;
}



@media ($tablet-widths) {

  .contacts {
    margin-top: 72px;
    margin-bottom: 57px;
    @include clearfix;
    }

  .contacts__data {
    display: flex;
    @include container;
    flex-wrap: wrap;
    justify-content: space-between;

    b {
      width: 100%;
      font-size: 43px;
      line-height: 50px;
    }
  }

  .contacts__data-list {
    width: 50%;
    margin-bottom: 57px;
  }

  .contacts__data-list-item {
    font-size: 15px;
  }

  .contacts__map {
    background-image: url("/img/map-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .button {
    width: 230px;
    margin-top: 57px;
    text-align: center;
  }
}



@media ($desktop-widths) {

  .contacts {
    display: flex;
    @include container;
    margin-bottom: 105px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .contacts__data {
    display: flex;
    width: 350px;
    margin-left: 176px;
    align-self: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-spacing: 0 15px;

    b {
      margin-bottom: 30px;
      font-size: 53px;
      line-height: 57px;
    }
  }

  .contacts__data-list {
    width: 100%;
    margin: 0;
  }

  .contacts__map {
    width: 524px;
    height: 457px;
    background-image: url("/img/map-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/map-desktop@2x.jpg");
      background-size: 525px auto;
    }
  }

  .button {
    width: 230px;
    margin-left: 174px;
    margin-top: -60px;
  }
}
