.contacts {
margin-top: 40px;
margin-bottom: 38px;
}

.contacts__data {
  display: table;
  width: 100%;
  @include conteiner;
  border-spacing: 0 25px;

  b {
    display: table-caption;
    @include font-style(18px, 30px, 700, #000000);
  }
}

.contacts__data-list {
  display: table-row;
}

.contacts__data-list-item {
  display: table-cell;
  @include font-style(15px, 30px, 400, $text-color);
  text-align: left;

  &:first-child {
    width: 77px;
  }
}

.contacts__email {
  border-bottom: 1px solid $color-green;
}

.contacts__map {
  width: 100%;
  height: 458px;
  background: #f3f1ea url("/img/map-mobile@1x.jpg") no-repeat 100% 100%;
}

.button {
  @include conteiner;
  margin-top: 39px;
}

@media ($tablet-widths) {

  .contacts {
    margin-top: 72px;
    margin-bottom: 57px;
    @include clearfix;
    }

  .contacts__data {
    display: flex;
    @include conteiner;
    flex-wrap: wrap;
    justify-content: space-between;

    b {
      width: 100%;
      @include font-style(43px, 50px, 700, #000000);
    }
  }

  .contacts__data-list {
    width: 50%;
    margin-bottom: 57px;
  }

  .contacts__data-list-item {
  @include font-style(17px, 30px, 400, $text-color);
  }

  .button {
    width: 230px;
    margin-top: 57px;
    text-align: center;
  }
}

@media ($desktop-widths) {

  .contacts {
    position: relative;
    display: flex;
    @include conteiner;
    margin-bottom: 105px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .contacts__data {
    display: flex;
    width: 350px;
    margin: 30px 0 63px 174px;
    flex-wrap: wrap;
    flex-direction: column;
    border-spacing: 0 15px;

    b {
      margin-bottom: 30px;
      @include font-style(53px, 57px, 700, #000000);
    }
  }

  .contacts__data-list {
    width: 100%;
    margin: 0;
  }

  .contacts__map {
    position: absolute;
    width: 524px;
    height: 427px;
    top: 0;
    right: 0;
  }

  .button {
    margin: 0;
    margin-left: 174px;
  }
}
