.copyright {
  width: auto;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 24px;
  @include font-style(19px, 18px, 700, #000000);
  text-align: center;

  &__logo {
    padding-left: 30px;

    img {
    vertical-align: middle;
    }
  }
}

@media ($tablet-widths) {

  .copyright {
    float: right;
    width: 220px;
    padding: 51px 0 51px;
  }
}

@media ($desktop-widths) {

  .copyright {
    float: right;
    width: 350px;
    padding: 51px 0 51px;
  }
}
