.feedback {
  @include container;
  margin-top: 65px;
  padding-bottom: 45px;

  .button {
    width: 100%;
    margin-bottom: 0;
  }
}

.feedback__title {
  @include font-style(25px, 30px, 700, #000000);
}

.feedback__blockquote {
  margin: 0;
  @include font-style(15px, 30px, 400, #444444);
  margin-bottom: 35px;
}

feedback__blockquote-source {
  @include font-style(18px, 24px, 400, #000000);
  font-style: normal;
}

.feedback__controls {
  display: flex;
  width: 258px;
  min-height: 50px;
}

.feedback__controls-link {
  display: flex;
  width: 129px;
  border: $border;

  &--next {
    border-left: none;
  }
}

.feedback__controls-icon {
  margin: auto;

  &:hover {
    fill: #666666;
  }

  &:active {
    fill: #b2b2b2;
  }
}



@media ($tablet-widths) {

  .feedback {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 86px;
    background: url("/img/review@1x.jpg") no-repeat 0 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/review@2x.jpg");
      background-size: 350px auto;
    }

    .button {
    width: 174px;
    order: 2;
    margin-top: 79px;
    margin-right: 6.5104%;
    align-self: flex-start;
    }
  }

  .feedback__wrapper {
    position: relative;
    display: flex;
    @include container;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback__title {
    order: 1;
    margin-top: 79px;
    margin-left: 6.5104%;
    font-size: 43px;
    line-height: 50px;
  }

  .feedback__blockquote {
    order: 3;
    width: 100%;
    @include container;
    font-size: 17px;
  }

  .feedback__blockquote-source {
    width: 238px;
    margin-top: 20px;
  }

  .feedback__controls {
    position: absolute;
    width: 138px;
    margin-top: 20px;
    bottom: 20px;
    right: 81px;
  }

  .feedback__controls-link {
    border: none;
  }
}



@media ($desktop-widths) {

  .feedback {
    @include container;
    margin-top: 88px;
    margin-bottom: 92px;

    .button {
      margin-right: 0;
    }
  }

  .feedback__title {
    margin-left: 190px;
  }

  .feedback__blockquote {
    margin-left: 190px;
  }

  .feedback__blockquote-text {
    width: 770px;
  }

  .feedback__controls {
    right: 32px;
  }
}
