.filter {
  display: flex;
  min-height: 1433px;
  margin-bottom: 55px;
  flex-wrap: wrap;
  align-content: space-between;
  @include container;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.filter__wrapper-list {
  display: flex;
  min-height: 100px;
  width: 217px;
  flex-wrap: wrap;
  align-content: space-between;

  &--color {
    min-height: 344px;
  }
}

.filter__wrapper-title {
  @include font-style(17px, 16px, 700, $color-green);
  text-transform: uppercase;
}

.filter__wrapper-item {
  margin-left: 65px;
  @include font-style(17px, 18px, 700, #000000);
}

.filter__wrapper-inner-item {
  display: flex;
  min-height: 93px;
  flex-wrap: wrap;
  align-content: space-around;
}

input {
  width: 100%;
  padding-bottom: 20px;
  @include font-style(17px, 18px, 400, #444444);
  border: none;
  border-bottom: 2px solid #000000;
}

.filter__wrapper--contacts {
  width: 100%;
}

.filter__label--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

textarea {
  width: 260px;
  min-height: 140px;
  padding-top: 20px;
  padding-left: 14px;
  box-sizing: border-box;
  border: 2px solid #000000;
}

label {
  @include font-style(17px, 18px, 700, #000000);
}

.filter__tip {
  @include font-style(14px, 16px, 400, #444444);
}

.button {
  margin-bottom: 55px;
  background-color: #ffffff;
}



@media ($tablet-widths) {

  .filter {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;

    .button {
    width: 228px;
    margin: 0;
    order: 6;
    }
  }

  .filter__wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: flex-start;

  }

  .filter__wrapper--color {
    min-height: 304px;
    width: 100%;
    align-items: center;
    background-color: $bg-title-footer;
  }

  .filter__wrapper-title {
    width: 168px;
    margin: 0;

    &--color {
      min-height: 204px;
    }
  }

  .filter__wrapper-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 129px;

    &--color {
      width: 463px;
      min-height: 208px;
      flex-direction: row;
      align-content: space-between;

      .filter__wrapper-item {
        width: 25%;
      }
    }
  }

  .filter__wrapper-item {
    width: 50%;
    font-size: 19px;
  }

  label {
  margin-right: 27px;
  font-size: 19px;
}

  input {
    font-size: 19px;
  }

  .filter__wrapper-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .filter__wrapper-inner-item {
    width: 100%;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .filter__wrapper--contacts {
    display: flex;
    flex-wrap: wrap;
    min-height: 229px;
    align-content: space-around;
    background-color: $bg-title-footer;
  }

  .filter__wrapper-contacts {
    display: flex;
    width: 100%;

    input {
      background-color: $bg-title-footer;
    }
  }

  textarea {
    width: 100%;
  }

  .filter__tip {
    width: 50%;
    order: 7;
    align-self: center;
    text-align: right;
    font-size: 17px;
    line-height: 30px;
  }
}



@media ($desktop-widths) {

  .filter {
    width: 815px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .filter__wrapper--color {
    min-height: 228px;
    align-items: baseline;
  }

  .filter__wrapper-list--color {
    width: 100%;
    align-content: space-around;

    .filter__wrapper-item {
      width: 20%;
    }
  }
}
