.filter {
  @include conteiner;
}

.filter__wrapper-title {
  @include font-style(17px, 16px, 700, $color-green);
  text-transform: uppercase;
}

.filter__wrapper-item {
  @include font-style(17px, 18px, 700, #000000);
}

label {
  @include font-style(17px, 18px, 700, #000000);
}

input[type="text"] {
  @include font-style(17px, 18px, 400, #444444);
}

.filter__tip {
  @include font-style(14px, 16px, 400, #444444);
}

.button {
  margin-bottom: 55px;
  background-color: #ffffff;
}

@media ($tablet-widths) {

  .filter {
    display: flex;
    flex-wrap: wrap;
  }

  .filter__wrapper {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 100%;
    justify-content: flex-start;
    margin-bottom: 50px;

    &:nth-of-type(2) {
      background-color: $bg-title-footer;
    }

    &:nth-of-type(n+4):nth-of-type(-n+5) {
      background-color: $bg-title-footer;
    }
  }

  .filter__wrapper-title {
    width: 168px;
  }

  .filter__wrapper-list{
    display: flex;
    flex-wrap: wrap;
  }

  .filter__wrapper-item {
    flex-basis: 50%;
  }

  label {
  @include font-style(19px, 18px, 700, #000000);
}

  input[type="text"] {
    @include font-style(19px, 18px, 400, #444444);
  }

  .filter__wrapper:nth-of-type(1) .filter__wrapper-item {
    flex-direction: column;
  }

  .filter__wrapper-inner {
    display: flex;
    flex-wrap: wrap;
  }

  .filter__wrapper-inner-item {
    flex-basis: 100%;
  }

  .filter__tip {
    flex-basis: 50%;
    order: 7;
  }

  .button {
    flex-basis: 50%;
    order: 6;
  }
}

@media ($desktop-widths) {

  .filter__wrapper:nth-of-type(2) .filter__wrapper-item {
    flex-basis: 26%;
  }

}
