@import '../variables.scss';
@import '../mixins.scss';

.filter {
  display: flex;
  min-height: 1433px;
  margin-bottom: 55px;
  flex-wrap: wrap;
  align-content: space-between;
  @include container;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.filter__wrapper-title--green-line::before {
  content: "";
  position: absolute;
  width: 59%;
  left: 100px;
  border-top: 1px solid #62d1ba;
}

.filter__wrapper-list {
  display: flex;
  min-height: 100px;
  width: 217px;
  flex-wrap: wrap;
  align-content: space-between;
}

.filter__wrapper-color-list {
  display: flex;
  width: 217px;
  min-height: 344px;
  flex-wrap: wrap;
  align-content: space-between;
  }

.filter__wrapper-title {
  width: 62px;
  padding: 20px 0;
  @include font-style(17px, 3px, 700, $color-green);
  text-transform: uppercase;

//  &:nth-of-type(5) {
//    width: 81px;
//  }
}

.filter__wrapper-item {
  @include font-style(17px, 18px, 700, #000000);
}

.filter__wrapper-inner-item {
  display: flex;
  min-height: 93px;
  flex-wrap: wrap;
  align-content: space-around;
}

input {
  width: 100%;
  padding-bottom: 20px;
  @include font-style(17px, 18px, 400, #444444);
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;

  &:hover,
  &:active {
    border-color: #62d1ba;
  }
}

.filter__wrapper-label--button {
  padding-left: 70px;
  padding-bottom: 40px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 70px;
  padding-bottom: 40px;
  cursor: pointer;


  &:hover::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: #c7c7c7;
  }
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 39px;
  height: 41px;
  border: 2px solid #444;
  border-radius: 50%;
  box-sizing: border-box;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 16px;
  height: 17px;
  background: #63d1bb;
  border-radius: 50%;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 40px;
  height: 41px;
  border: 2px solid #444;
  box-sizing: border-box;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 9px;
  width: 22px;
  height: 17px;
  background: url(../img/icons/icon-tick.svg) no-repeat 50% 50%;
  background-size: 22px 17px;
}

.filter__wrapper-contacts {
  position: relative;
  width: 260px;

  &--info:hover svg {
  fill: #62d1ba;
  }

  &--info:active svg {
  fill: #62d1ba;
  }
}

.filter__label--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter__label-icon {
  position: absolute;
  top: 60px;
  right: 0;
  fill: #cccccc;

  &:hover,
  &:active {
    border-color: #62d1ba;
  }
}

textarea {
  width: 260px;
  min-height: 140px;
  padding-top: 20px;
  padding-left: 14px;
  box-sizing: border-box;
  border: 2px solid #000000;
  outline: none;

  &:hover,
  &:active {
    border-color: #62d1ba;
  }
}

label {
  @include font-style(17px, 18px, 700, #000000);
}

.filter__wrapper-tip-text {
  @include font-style(14px, 16px, 400, #444444);
}

.button {
  margin-bottom: 55px;
  background-color: #ffffff;
}



@media ($tablet-widths) {

  .filter {
    display: flex;
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .filter__wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: flex-start;
  }

  .filter__wrapper--container {
    @include container;
  }

  .filter__wrapper--bg {
    min-height: 304px;
    width: 100%;
    align-items: center;
    background-color: $bg-title-footer;
  }

  .filter__wrapper-title {
    width: 168px;
    margin: 0;
    padding: 0;
  }

  .filter__wrapper-color {
    display: flex;
  }

  .filter__wrapper-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 129px;
  }

  .filter__wrapper-color-list {
    display: flex;
    width: 463px;
    min-height: 208px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
  }

  .filter__wrapper-item {
    width: 50%;
    font-size: 19px;

    &--radio {
      width: 100%;
    }
  }

  label {
  margin-right: 27px;
  font-size: 19px;
}

  input {
    font-size: 19px;
  }

  .filter__wrapper-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .filter__wrapper-inner-item {
    width: 100%;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .filter__wrapper--contacts {
    display: flex;
    flex-wrap: wrap;
    min-height: 229px;
    align-content: space-around;
    background-color: $bg-title-footer;
  }

  .filter__wrapper-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .filter__wrapper-contacts {
    display: flex;
    width: 100%;

    input {
      background-color: $bg-title-footer;
    }
  }

  .filter__wrapper-title--green-line::before {
    content: none;
  }

  .filter__label-icon {
    top: 0;
  }

  textarea {
    width: 100%;
  }

  .filter__wrapper-tip {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .button {
      width: 228px;
      margin: 0;
    }
  }

  .filter__wrapper-tip-text{
    font-size: 17px;
    line-height: 30px;
  }
}



@media ($desktop-widths) {

  .filter {
    margin-bottom: 50px;
  }

  .filter__wrapper--container {
    width: 815px;
    margin: 0 auto;
  }

  .filter__wrapper--bg {
    min-height: 228px;
    align-items: baseline;
  }

  .filter__wrapper-color {
    align-items: baseline;
  }

  .filter__wrapper-color-list {
    width: 100%;
    align-content: space-around;

    .filter__wrapper-item {
      width: 33%;
    }
  }

  .filter__wrapper-tip {

    .button {
      margin-left: 136px;
    }
  }
}
