.form-main__title {
  display: flex;
  min-height: 177px;
  background-color: $bg-title-footer;
}

h1 {
  @include font-style(27px, 30px, 700, #000000);
  margin: auto;
}

.form-main__description {
  @include conteiner;
  @include font-style(13px, 24px, 400, #444444);
  margin-bottom: 27px;
  margin-top: 27px;
}



@media ($tablet-widths) {

  .form-main__title {
    position: relative;
    min-height: 225px;
    margin-top: -70px;
    z-index: 1;
    border-top: $border;
  }

  h1 {
    font-size: 43px;
    line-height: 50px;
  }

  .form-main__description {
    margin-top: 82px;
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 30px;
  }
}



@media ($desktop-widths) {
  .form-main__title {
    margin-top: -48px;
  }

  .form-main__description {
    width: 672px;
  }
}
