.inner-main__title {
  display: flex;
  min-height: 177px;
  background-color: $bg-title-footer;

  h1 {
    margin: auto;
    @include font-style(27px, 30px, 700, #000000);
  }
}

@media ($tablet-widths) {

  .inner-main__title {
    display: flex;
    position: relative;
    width: 100%;
    height: 226px;
    margin-top: -86px;
    z-index: 1;

  }

  h1 {
    margin: auto;
    @include font-style(43px, 50px, 700, #000000);
    text-align: center;
  }
}

@media ($desktop-widths) {

  .inner-main__title {
    position: relative;
    height: 256px;
    margin-top: -46px;
    z-index: 1;
  }

  h1 {
    @include font-style(53px, 57px, 700, #000000);
    text-align: center;
  }
}
