@import '../variables.scss';
@import '../mixins.scss';

.inner-main__title {
  display: flex;
  min-height: 177px;
  background-color: $bg-title-footer;
}

  h1 {
    margin: auto;
    @include font-style(27px, 30px, 700, #000000);
    text-align: center;
  }



@media ($tablet-widths) {

  .inner-main__title {
    display: flex;
    position: relative;
    width: 100%;
    height: 239px;
    margin-top: -80px;
    z-index: 1;
    background: #f1f1f1 url("../img/bg-zigzag-fill.svg") repeat-x 100% 100%;
    background-size: auto 24px;
  }

    h1 {
      margin: auto;
      font-size: 43px;
      line-height: 50px;
      text-align: center;
    }
}



@media ($desktop-widths) {

  .inner-main__title {
    position: relative;
    height: 274px;
    margin-top: -49px;
    z-index: 1;
    background-size: auto;
  }

  h1 {
    font-size: 53px;
    line-height: 57px;
  }
}
