.logo {
  position: relative;
  display: block;
  padding: 22px 0;
  text-align: center;
}

.logo img {
  width: 86px;
  height: auto;

  &:hover {
  opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}



@media ($tablet-widths){

  .logo {
    display: flex;
    width: 323px;
    min-height: 100px;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    border-right: $border;
  }

  .logo img {
    width: 114px;
  }
}



@media ($desktop-widths) {
  .logo {
    width: 326px;
    order: 2;
    justify-content: center;
    border-bottom: none;
  }

  .logo img {
    width: 150px;
  }
}
