.logo {
  padding: 22px 50px;
  text-align: center;
}

@media ($tablet-widths){

  .logo {
    border: none;
  }
}

@media ($desktop-widths) {
  .logo {
    display: block;
    position: absolute;
    top: 0;
    left: 35%;
    padding: 24px 0;
  }
}
