@import "mixins.scss";

.menu {
  display: block;
  margin: 0 auto;
}

.menu__list-item {

  padding: 31px 0;
  @include font-style(17px, 24px, 700, #000000);
  border-bottom: $border;
  text-align: center;

  &:first-child {
    border-top: $border;
  }
}

.menu__list-users-item {
  padding: 37px 0;
  @include font-style(17px, 24px, 700, #000000);
  border-bottom: $border;
  text-align: center;

    &:first-child {
    border-top: none;
  }

    &:nth-child(2) {
    border-bottom: none;
  }
}

.menu__list-users-item-hidden {
  margin: 0;
}

.menu__list-new {
  padding: 37px 0;
  @include font-style(17px, 24px, 700, #000000);
  border-bottom: $border;
  display: none;
}



@media ($tablet-widths){

  .menu {
    position: relative;
    display: flex;
    @include conteiner;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 2;
  }

  .menu__list {
    display: flex;
    width: 367px;
    order: 3;
  }

  .menu__list-item {
    padding: 23px 0;
    flex-grow: 1;
    font-size: 15px;
    text-align: left;
    border: none;

    &:first-child {
      border: none;
    }
  }

  .menu__list-users {
    display: flex;
    order: 2;
  }

  .menu__list-users-item {
    padding: 0;
    text-align: right;
    box-sizing: border-box;

    &:first-child {
      width: 84px;
      border-right: $border;
      border-bottom: none;
    }

     &:nth-child(2) {
      width: 260px;
      align-self: center;
    }
  }

  .menu__list-users-item-hidden {
    font-size: 0;
  }

  .menu__list-new {
    display: flex;
    order: 4;
    width: 301px;
    padding: 0;
    justify-content: flex-end;
    border: none;
  }

  .menu__list-new-item {
    padding: 23px 0;
    @include font-style(15px, 24px, 400, $text-color);
  }

  .menu__list-new-item:first-child {
    display: none;
  }

  .menu__list-new-item:nth-child(2) {
    display: none;
  }
}



@media ($desktop-widths) {

  .menu {
    display: flex;
    position: relative;
  }

  .menu__list {
    display: flex;
    width: 375px;
    order: 1;
    margin: 0;
  }

  .menu__list-item {
    padding: 35px 0;
    text-align: left;


    &:first-child {
      width: 185px;
      border-right: $border;
    }

    &:last-child {
      width: 160px;
      text-align: right;
    }
  }

  .menu__list-users {
    display: flex;
    width: 348px;
    order: 3;
    justify-content: flex-end;
    border-bottom: none;
  }

  .menu__list-users-item {
    padding: 35px 0;

    &:first-child {
      width: 84px;
    }

    &:last-child {
      width: 265px;
    }
  }

  .menu__list-new {
    display: flex;
    width: 100%;
    order: 4;
    padding: 0;
  }

  .menu__list-new-item {
    display: block;
    padding: 0;
    padding-top: 24px;
    font-weight: 700;
    box-sizing: border-box;

    &:first-child {
      width: 259px;

    }

    &:nth-child(2) {
      width: 192px;
    }

    &:last-child {
      width: 725px;
      font-weight: 400;
      color: $text-color;
      text-align: right;
    }
  }

  .menu__list-new-item:first-child {
    display: block;
  }
  .menu__list-new-item:nth-child(2) {
    display: block;
  }
}
