@import 'variables.scss';

.page-footer {
  background-color: $bg-title-footer;
  height: 160px;
  outline: $outline;
}

.page-footer__logo {
  display: none;
}

@media ($tablet-widths) {

  .page-footer__logo {
    display: block;
    float: left;
    width: 220px;
    padding: 51px 0 51px;
  }
}

@media ($desktop-widths) {

  .page-footer__logo {
    display: block;
    float: left;
    width: 350px;
    padding: 51px 0 51px;
  }
}
