@import '../variables.scss';
@import '../mixins.scss';

.page-footer {
  min-height: 160px;
  background-color: $bg-title-footer;
}

.container {
  min-height: 160px;
  display: flex;
  @include container;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }

.page-footer__logo {
  display: none;
}




@media ($tablet-widths) {

  .container {
    min-height: 133px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    width: 220px;
    flex-grow: 1;
  }

  .page-footer__logo svg {
    width: 102px;
    height: auto;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}




@media ($desktop-widths) {

  .page-footer__logo {
    display: block;
    width: 350px;
    padding: 51px 0 51px;
  }
}
