@import 'variables.scss';

.page-footer {
  min-height: 160px;
  background-color: $bg-title-footer;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  align-items: center;
  }

.page-footer__logo {
  display: none;
}

@media ($tablet-widths) {

  .conteiner {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    width: 220px;
    padding: 51px 0 51px;
    flex-grow: 1;
  }
}

@media ($desktop-widths) {

  .page-footer__logo {
    display: block;
    width: 350px;
    padding: 51px 0 51px;
  }
}
