@import "variables.scss";
@import "mixins.scss";

.page-header {
  outline: $outline;
}

@media ($tablet-widths){

  .page-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    outline: $outline;
  }



}

@media ($desktop-widths) {
  .page-header {
    display: flex;
    width: auto;
  }
}

