.slogan {
  display: flex;
  min-height: 283px;
  background: #f9f9f9 url("/img/hero-mobile@1x.jpg") no-repeat 50% 20%;
  border-top: $border;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("/img/hero-mobile@2x.jpg");
    background-size: 575px auto;
    }
}

h1 {
  margin: auto;
  @include container;
  @include font-style(27px, 30px, 700, #000000);
  text-align: center;
}



@media ($tablet-widths) {

  .slogan {
    display: flex;
    position: relative;
    width: 100%;
    height: 743px;
    margin-top: -71px;
    z-index: 1;
    background: url("/img/hero-desktop@1x.jpg") no-repeat 50% 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  h1 {
    margin: auto;
    font-size: 43px;
    line-height: 50px;
    text-align: center;
  }
}



@media ($desktop-widths) {

  .slogan {
    position: relative;
    height: 743px;
    margin-top: -47px;
    z-index: 1;
    background-size: cover;
  }

  h1 {
    font-size: 53px;
    line-height: 57px;
    text-align: center;
  }
}
